-i https://pypi.org/simple
atomicwrites==1.2.1; python_version != '3.3.*'
attrs==18.2.0
hypothesis==3.71.9
more-itertools==4.3.0
pluggy==0.7.1; python_version != '3.3.*'
py==1.6.0; python_version != '3.3.*'
pytest==3.8.0
six==1.11.0
toml==0.9.6
tox==3.3.0
virtualenv==16.0.0; python_version != '3.0.*'
